.pooja
{
color:purple;
text-align: center;
}
.wisdom
{
    background-color: rgb(39, 216, 16);
    color: blue;
    text-align: center;
}


#test
{
    color:orange;
    font-family: 'Courier New', Courier, monospace;
    background-color: pink;
    text-align: center;
}